<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
		</head>
		<body>
		Testing whether this does anything.
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<div class="dailyPlanner">
				Daily Planner goes here:
				
				{{ page.planner }}
			</div>
			<br><br>
			Composers:<br>
			{% for composer in site.great_composers %}
			  <h2>{{ composer.name }}</h2>
			  <h3>{{ composer.fromDate }} - {{ composer.toDate }}, {{ composer.country }}</h3>
			{% endfor %}
			<footer>
			</footer>
		</body>
	</html>
